<div class="container">
  <div class="jumbotron">
    <h1 class="align_center">Teste Synergia!</h1>
    <h3 class="align_center">Uma aplicação simples para testar as habilidades com Ruby on Rails.</h3>
    <br>

    <div class="row">
      <div class="col-md-6">
        <h4><u>Configuração</u></h4>
        <p>O teste deve ser feito utilizando:</p>
        <ul>
          <li>Rails 4.2.0 ou maior.</li>
          <li>Ruby 2.2.0 ou maior.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4><u>Procedimento</u></h4>
        <p>Após a leitura do enunciado crie um repositorio publico em sua conta, e ao finalizar o teste compartilhe o link no email:</p>
        <ul>
          <li>alexsandro.rocha.prs@synergiaconsultoria.com.br.</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4><u>Prazo de entrega</u></h4>
        <p>
          2 dias a partir do recebimento do teste por email. Mande o email com o link do repositório mesmo que não
          tenha finalizado tudo 100%, gostariamos de analisar o seu código de qualquer forma.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4><u>Descrição da tarefa:</u></h4>
        <p>
          Um cliente precisa de uma aplicação para controle de estoque dos seus produtos. Ele pode ter um mesmo produto
          em diferentes tamanhos e cores.
        </p>
        <p>Por exemplo, ele pode ter no estoque:</p>
        <ul>
          <div class="row">
            <div class="col-md-4">
              <li>5 peças da Camiseta X, na cor preta, tamanho P</li>
            </div>
            <div class="col-md-4">
              <li>2 peças da Camiseta X, na cor preta, tamanho M</li>
            </div>
            <div class="col-md-4">
              <li>3 peças da Camiseta X, na cor preta, tamanho G</li>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <li>7 peças da Camiseta X, na cor azul, tamanho M</li>
            </div>
            <div class="col-md-4">
              <li>1 peça da Camiseta Y, na cor braca, tamanho M</li>
            </div>
            <div class="col-md-4">
              <li>Etc...</li>
            </div>
          </div>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4><u>O que você irá fazer:</u></h4>
        <p>
          Precisamos de uma tela onde seja possível cadastrar um produto com nome e descrição, e relacionar novas cores,
          tamanhos e quantidade *em um único formulário utilizando Nested Forms*. Após o cadastro, temos que ter uma tela onde listar
          os produtos disponíveis em cada combinação de tamanho e cor. Cor e tamanho não precisa ter CRUD,
          apenas crie os modelos e popule com alguns dados de teste para serem relacionados ao produto (Pode ser um arquivo de seed).
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4><u>Exemplo de banco de dados:</u></h4>
        <a  href="https://bitbucket.org/sis_synergia/teste-rails/raw/ac154f3965918b60b10b5c9e7421b5b10936e8fb/public/Teste_Synergia.png" target="_blank" role="button">https://bitbucket.org/sis_synergia/teste-rails/raw/ac154f3965918b60b10b5c9e7421b5b10936e8fb/public/Teste_Synergia.png</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4><u>Requisitos:</u></h4>
        <ul>
          <li>Escrever testes de model e controller utilizando RSpec ou MiniTest. (Nosso projeto atual usa RSpec).</li>
          <li>Não utilizar o scaffold. Mostre sua habilidade em criar views, controllers, models, sem usar scaffold.</li>
          <li>Organização e legibilidade do código.</li>
          <li>Se utilizar gems, listar quais gems foram utilizadas, e para qual finalidade.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4><u>Bônus:</u></h4>
        <ul>
          <li>Usar bootstrap para formatar as páginas de cadastro.</li>
          <li>Utilizar SimpleForm.</li>
          <li>Utilizar Docker (docker-compose) para subir o banco com a aplicação em containers separados</li>
        </ul>
      </div>
    </div>

      <p><a class="btn btn-primary btn-lg" href="http://www.synergiaconsultoria.com.br/" target="_blank" role="button">Conheça a Synergia</a></p>
  </div>
</div>