// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.float_right {
  float: right;
}

.m_t_25 {
  margin-top: 25px;
}

.m_b_15 {
  margin-bottom: 15px;
}
