<%= nested_form_for(@product) do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> Na criação do produto!</h2>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control",  placeholder: t('activerecord.attributes.product.name') %>
    </div>
    <div class="col-md-6">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", placeholder: t('activerecord.attributes.product.description') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Variações</h4>
      <small> Poderá ser relacionado quantas cores, tamanhos e quantidade há uma unica produto.</small>
    </div>
  </div>
  <br>
  <div class="row fields">
    <div class="col-md-12">
      <%= f.fields_for :product_variations do |product_variation| %>
        <%= render partial: 'product_variations', locals: {product_variation: product_variation} %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.link_to_add t('add_variation'), :product_variations, class: "btn btn-default btn-primary" %>
      <%= f.submit t('submit'), class: "btn btn-default btn-success float_right" %>
    </div>
  </div>

<% end %>
