<% if defined?(product_variation)%>

  <div class="row m_b_15">
    <div class="col-md-3">
      <%= product_variation.label t('activerecord.attributes.product_vatiation.quantity') %>
      <%= product_variation.number_field :quantity, class: "form-control",  placeholder: t('activerecord.attributes.product_vatiation.quantity') %>
    </div>
    <div class="col-md-3">
      <%= product_variation.label t('activerecord.attributes.product_vatiation.size_id') %>
      <br>
      <%= product_variation.collection_select :size_id, sizes, :id, :abbreviation, {prompt: "Informe um tamanho"}, {class: "form-control"}%>
    </div>
    <div class="col-md-3">
      <%= product_variation.label t('activerecord.attributes.product_vatiation.color_id') %>
      <br>
      <%= product_variation.select(:color_id, colors.order('name ASC').map{|c| [t("colors.#{c.name}"), c.id] }, {prompt: "Informe uma Cor"}, {class: "form-control"} )%>
    </div>
    <div class="col-md-3 m_t_25">
      <%= product_variation.link_to_remove t('remove_variation'), class: "btn btn-default btn-warning float_right" %>
    </div>
  </div>


<% end %>