<div class="well container ">

  <%= simple_form_for @product, :url => {:controller => :products, action: :update}, :html => {:class => 'form-horizontal', method: :PATCH} do |product| %>

    <div style="text-align: center;" class="row">
      <h2>Editar Produto
        <br>
        <small>Informe os dados para a edição do produto!</small>
      </h2>
    </div>
    <%= render partial: 'form', locals: {product: product} %>
  <% end %>
</div>