<div class="well container" >
  <h2><%= t('filters') %></h2>
    <%= search_form_for(@q, url: products_path , method: :get) do |f| %>

      <div class="row">

        <div class="col-md-6 m_b_15">
          <%= f.search_field :product_name_cont, placeholder: "Nome do Produto", class: "form-control" %>
        </div>

        <div class="col-md-6 m_b_15">
          <%= f.search_field :product_description_cont, placeholder: "Descrição do Produto", class: "form-control" %>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6 m_b_15">
          <%= f.select(:color_id_eq,  colors.order('name ASC').map{|c| [t("colors.#{c.name}"), c.id] }, {prompt: "Informe uma Cor"}, {class: "form-control"} )%>
        </div>


        <div class="col-md-6 m_b_15">
          <%= f.collection_select(:size_id_eq, sizes.all.present? ? sizes.order('abbreviation ASC') : sizes.all, :id, :abbreviation, {prompt: "Informe um tamanho"}, {class: "form-control"})%>
        </div>

      </div>

      <div class="row" style="float: right;">

        <div class="col-md-6">
          <%= link_to '<button type="button" class="btn btn-default btn-info">Limpar</button>'.html_safe, products_path %>
        </div>

        <div class="col-md-6">
          <%= f.submit t('filtar'), class: "btn btn-default btn-success float_right" %>
        </div>
      </div>

    <% end %>

</div>

<div class="well container" >
  <div class="row align_center">
    <h2><%= t('activerecord.models.products') %></h2>
    <ul class="list-inline">
      <li>
        <a href="<%= new_product_path %>">
          <i class="glyphicon glyphicon-plus"> Cadastrar novo produto</i>
        </a>
      </li>
    </ul>
  </div>

  <% if @product.present? %>
    <%= will_paginate @product %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Cor</th>
        <th>Tamanho</th>
        <th>Quantidade</th>

        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <% @product.each do |product_variation| %>
        <tr>
          <td>
            <%= product_variation.product.name%>
          </td>
          <td>
            <%= product_variation.product.description%>
          </td>
          <td>
            <%= t("colors.#{product_variation.color.name}") %>
          </td>
          <td>
            <%= product_variation.size.abbreviation%>
          </td>
          <td>
            <%= product_variation.quantity%>
          </td>
          <td>

            <%= button_link_to '', edit_product_path(product_variation.product), class: 'glyphicon glyphicon-pencil', title: "Editar" %>
            <%= button_link_to '', product_path(product_variation.id),      class: 'glyphicon glyphicon-trash', title: "Excluir", method: :delete, data: { confirm: 'Tem certeza que quer deletar o produto?' } %>
          </td>
      <% end %>
      </tr>
      </tbody>
    </table>
    <%= will_paginate @product %>
  <% else %>
    <div class="well container " style="width: 100%!important; margin-bottom: 0px!important;">
      <div class="row" style="text-align: center">
        <h2> Não Existe Produto Cadastrado! </h2>
      </div>
    </div>
  <% end %>
  
</div>