<%= simple_form_for @product, :url => {:controller => :products, action: :create}, :html => {:class => 'form-horizontal'} do |product| %>
  <div class="well container" >
    <div class="row align_center">
      <h2>Cadastrar Novo Produto
        <br>
        <small>Informe os dados para a criação de um novo produto!</small>
      </h2>
    </div>
    <%= render partial: 'form', locals: {product: product} %>
  </div>

<% end %>