<footer class="footer">
  <div class="footer-copyright text-center py-3">Gilberto F S Junior
    <a href="https://www.linkedin.com/in/gilberto-sousa-3a8aa478/" target="_blank"> Linkedin </a>
  </div>
</footer>
