<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.synergiaconsultoria.com.br/" target="_blank">Synergia</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="<%= root_path %>">Teste Synergia</a></li>
        <li><a href="<%= new_product_path %>">Cadastro de Produto</a></li>
        <li><a href="<%= products_path %>">Lista de Produtos</a></li>
      </ul>
    </div>
  </div>
</nav>