<!DOCTYPE html>
<html>
<head>
  <title>ControleEstoqueSynergia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults, "nested_form" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<% flash.each do |msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
